.event-row {
    .id {
        width: 5%;
    }
    .title {
        width: 10%;
    }
    .start-date {
        width: 5%;
    }
    .end-date {
        width: 5%;
    }
    .start-time {
        width: 5%;
    }
    .end-time {
        width: 5%;
    }
    .description {
        width: 25%;
    }
    .location {
        width: 5%;
    }
    .category {
        width: 5%;
    }
    .source {
        width: 5%;
    }
    .alternate-id {
        width: 5%;
    }
    .delete {
        width: 5%;
    }
}
